---
layout: page.njk
titre: L'association
url: association
date: 2000-01-03 #eleventy fait un tri par date croissante
tags: page
---

<h1>L'association</h1>

<h2>Objet</h2>
<ul>
    <li>
        1) Créer et gérer des jardins partagés selon les principes du jardinage naturel pour produire des fruits et légumes de qualité via des pratiques culturales respectueuses de la Nature;
    </li>
    <li>
        2) Favoriser la diffusion des connaissances et savoir-faire sur les sujets de l’agriculture, de l’environnement et de l’alimentation via différents moyens (ateliers, conférences, causeries, ... );
    </li>
    <li>
        3) Organiser des moments de convivialité et des événements autour du jardin, pour créer du lien entre Blagnacais, ainsi qu’avec les structures ou personnes partageant un intérêt pour le sujet.
    </li>
</ul>

<h2>Valeurs</h2>
<ul>
    <li>Respecter la nature et le vivant</li>
    <li>Encourager la biodoversité et optimiser la consommation de ressources (eau, énergie, matériaux) en utilisant les principes de la permaculture</li>
    <li>Partager ...
        <ul>
            <li>les savoirs</li>
            <li>les points de vues</li>
            <li>les activités au jardin</li>
            <li>et les récoltes</li>
        </ul>
    </li>
    <li>S’ouvrir à toutes et tous</li>
    <li>Etre un lieu de partage ouvert, un lieu où les valeurs humaines tiendront une place prépondérante, où il sera question de solidarité et de tolérance.</li>
</ul>




