---
layout: page.njk
titre: Nous rejoindre
url: contact
date: 2000-01-04 #eleventy fait un tri par date croissante
tags: page
---


    <h1>Nous rejoindre</h1>
    <ul>
        <li>L'association est ouverte à toutes et tous</li>
        <li>Contactez-nous par mail : <a href="mailto:cloportesetcompagnie@mailo.com">cloportesetcompagnie@mailo.com</a></li>
    </ul>
