---
layout: page.njk
titre: Accueil
url: accueil
css: accueil.css
date: 2000-01-01 #eleventy fait un tri par date croissante
---


    <div id="accueil-titre">
        <img src="{{ '/_img/titre-accueil.png' | url }}" alt="Projet de Jardins partagés à Blagnac">
    </div>

    <div id="accueil-contenus">
        <article>
            <h2>C’est quoi ?</h2>
            <ul>
                <li>Un jardin créé et cultivé selon les principes de la <em>permaculture</em></li>
                <li>Un jardin cultivé à plusieurs pour <em>apprendre ensemble</em>, en <em>partageant les récoltes</em>.</li>
                <li>Un lieu de <em>convivialité</em> et de <em>sensibilisation</em> sur le sujet.</li>
            </ul>
            <a href="/projet" class="bouton">Voir le projet &#8594;</a>
        </article>

        <article>
            <h2>Pour qui ?</h2>
            <ul>
                <li><em>Tout le monde !</em></li>
                <li>Habitants de Blagnac ou de ses environs, petits et grands, seuls ou en groupes</li>
                <li><em>Amateurs</em> ou <em>jardiniers confirmés</em>, passionnés ou non,</li>
            </ul>
            <a href="/association" class="bouton">Voir l'association &#8594;</a>
        </article>

        <article>
            <h2>Quand ?</h2>
            <ul>
                <li>À partir du <em>printemps 2024</em></li>
                <li>Et <em>dès maintenant</em> pour construire le projet ensemble (recherche de terrain en cours)</li>
            </ul>
            <a href="/contact" class="bouton">Nous rejoindre &#8594;</a>
        </article>

    </div>
