---
layout: page.njk
titre: Le projet
url: projet
date: 2000-01-02 #eleventy fait un tri par date croissante
tags: page
---


    <h1>Le projet</h1>

    <h2>Le lieu</h2>

    <ul>
        <li>Nous recherchons actuellement un terrain, discussions en cours avec la mairie</li>
    </ul>


    <h2>Le fonctionnement</h2>

    <ul>
        <li>L’ambition est de créer, pour les adhérents à l’association, un lieu de culture collaborative et saine à Blagnac</li>
        <li>Les adhérents géreront collectivement le jardin au fil des saisons, en réalisant tout ou partie des étapes de préparation du sol, de semis/plants, de plantation, d‘entretien, de récolte, de distribution et/ou conservation.</li>
        <li>Pour satisfaire les attentes de chacun des adhérents, le terrain pourra être divisé en parcelles individuelles et collectives.</li>
        <li>Cet espace permettra aux adhérents de produire des légumes, des fruits, des plantes aromatiques ... et leurs fleurs protectrices. La culture sera respectueuse de l’environnement (culture sans traitement chimique, permactulture)</li>
        <li>Une grainothèque pourrait être mise en place autant dans un but économique que pédagogique</li>
    </ul>



