---
title: Page
---

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Association Cloportes & compagnie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ '/_css/theme/theme.css' | url }}">
    <link rel="stylesheet" href="{{ '/_css/_design-system.css' | url }}">
    <link rel="stylesheet" href="{{ '/_css/_page.css' | url }}">
    {% if css %}
    <link rel="stylesheet" href="{{'/_css/' + css}}" />
    {% endif %}
</head>


<body>

<header>
    <div id="logo">
        <img src="{{ '/_img/cloporte-medaillon.svg' | url }}" alt="Logo de l'Association Cloportes & compagnie">
        <div>
            <h2>Cloportes & Compagnie</h2>
            <h3>Jardin naturel et collaboratif à Blagnac</h3>
        </div>
    </div>
    <input id="menu-toggle" type="checkbox"/>
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li class="texte-m majuscule gras {{ 'selectionne' if titre == 'Accueil' }}"><a
                href="/">Accueil</a></li>
        {%- for page in collections.page -%}
        <li class="texte-m majuscule gras {{ 'selectionne' if titre == page.data.titre }}"><a
                href="/{{ page.data.url }}">{{ page.data.titre }}</a></li>
        {%- endfor -%}
    </ul>
</header>

<main>
    {{ content | safe }}
</main>
<footer>
    <main>
        <p class="texte-m gras blanc">Cloportes & compagnie, jardin naturel et collaboratif à Blagnac</p>
        <p class="texte-m blanc">Association loi 1901</p>
        <p class="texte-m blanc">Contact : <a class="blanc" href="mailto:cloportesetcompagnie@mailo.com">cloportesetcompagnie@mailo.com</a></p>
    </main>

</footer>


</body>
</html>



