
body,
p,
li,
.texte-m {
    font-family: var(--font-family-texte);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.texte-s {
    font-family: var(--font-family-texte);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.texte-l {
    font-family: var(--font-family-texte);
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.texte-xl {
    font-family: var(--font-family-texte);
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.02em;
}


.gras {
    font-family: var(--font-family-texte-gras);
}

.leger {
    font-family: var(--font-family-texte-leger);
}

.blanc {
    color: var(--couleur-blanc);
}

.majuscule {
    text-transform: uppercase;
}

/****************************************************/
/* Titres */
/****************************************************/

h1, h2 {
    font-family: var(--font-family-texte);
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-family: var(--font-family-texte);
    font-size: 20px;
    line-height: 24px;
}


h4 {
    font-family: var(--font-family-texte);
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-family: var(--font-family-texte);
    font-size: 16px;
    line-height: 24px;
}


a {
    color: var(--couleur-primaire);
}

a:hover {
    color: var(--couleur-primaire-sombre);
}


/********************************************************/
/* Reset de quelques valeurs par défaut des user agents */
/********************************************************/

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

em {
    font-style: normal;
}

/********************************************************/
/* Media queries */
/********************************************************/


@media screen and (max-width: 720px) {
    h2 {
        font-size: 16px;
        line-height: 24px;
    }

    h1 {
        font-size: 20px;
        line-height: 28px;
    }
}
