
:root {
    --hauteur-header: 80px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-fond);
}

/**********/
/* MAIN   */
/**********/

body > main {
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
    min-height: calc(100vh - var(--hauteur-header));
}

main h1 {
    color: var(--couleur-primaire-sombre);
    font-size: 48px;
    fontt-family: var(--font-family-texte-gras);
    line-height: 36px;
    padding: var(--dsem2) 0;
}

main h2 {
    color: var(--couleur-primaire-sombre);
    font-size: 26px;
    fontt-family: var(--font-family-texte-gras);
    line-height: 36px;
    padding: var(--dsem2) 0;
}

main li {
    padding: var(--dsem) 0 var(--dsem) var(--dsem3);
}

main p, main a, main li {
    font-size: 20px;
}

/**********/
/* PIED DE PAGE   */
/**********/

footer {
    padding: var(--dsem);
    background-color: var(--couleur-primaire-sombre);
}

footer main {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
}




/**********/
/* ENTETE */
/**********/

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-primaire-sombre);
    height: var(--hauteur-header);
    padding-left: var(--dsem);
    padding-right: var(--dsem);
}

@font-face {
    font-family: 'font-family-titre-entete';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rancho/v21/46kulbzmXjLaqZRVam_h.woff2) format('woff2'); /*Rancho*/
    /*src: url(https://fonts.gstatic.com/s/courgette/v17/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');*/ /*Courgette*/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100%;
}

#logo img {
    height: 48px;
}

#logo div {
    color: var(--couleur-blanc);
    font-size: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo h2 {
    font-family: 'font-family-titre-entete', cursive;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 0.04em;
}
#logo h3 {
    font-family: var(--font-family-texte-leger);
}

/**********/
/* MENU */
/**********/

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu a {
    color: white;
    text-decoration: none;
}


.menu > li {
    position: relative;
}

.menu > li:hover {
    cursor: pointer;
}

.menu > li:hover::after,
.menu > li.selectionne::after {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: '';
    height: 4px;
    width: 100%;
    padding: 0;
    border-radius: 4px;
    background-color: var(--couleur-blanc);
}
.menu > li.selectionne::after,
.menu > li.selectionne:hover::after {
    background-color: var(--couleur-blanc);
}


.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}


/***************/
/* MENU MOBILE */
/***************/

@media (max-width: 1024px) {

    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: var(--hauteur-header);
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: var(--couleur-primaire-clair);
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    .menu > li.selectionne::after {
        display: none;
    }

}

@media (max-width: 700px) {
    :root {
        --hauteur-header: 60px;
    }


    #logo img {
        height: 24px;
    }

    #logo h2 {
        font-size: 20px;
        line-height: 20px;
    }

    #logo h3 {
        font-size: 14px;
        letter-spacing: 0.01em;
    }



    main h1 {
        font-size: 32px;
        line-height: 32px;
        padding: var(--dsem2) 0;
    }

    main h2 {
        font-size: 24px;
        line-height: 24px;
        padding: var(--dsem2) 0;
    }

    main li {
        padding: var(--dsem) 0 var(--dsem) var(--dsem2);
    }

    main p, main a, main li {
        font-size: 16px;
    }

}


