#accueil-titre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#accueil-titre img{
 width: 100%;
    max-width: 800px;
}

#accueil-contenus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--dsem2);
    margin: 60px auto;
    flex-wrap: wrap;
}

#accueil-contenus article {
    max-width: 350px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background-color: var(--couleur-blanc);
}

#accueil-contenus article h2 {
    background-color: var(--couleur-secondaire-sombre);
    color: var(--couleur-blanc);
    padding: var(--dsem2);
    text-align: center;
}

#accueil-contenus article ul {
    padding: var(--dsem2);
    background-color: var(--couleur-blanc);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#accueil-contenus article li {
  margin: var(--dsem) 0;
    font-size: 24px;
}

#accueil-contenus em {
    font-family: var(--font-family-texte-gras);
    font-size: 28px;
    color: var(--couleur-secondaire);
}

#accueil-contenus a {
    font-size: 20px;
    padding: var(--dsem2);
    text-align: right;
}

