@font-face {
    font-family: 'font-family-texte-leger';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/figtree-regular.woff2) format('woff2');
    /*src: url(fonts/lato-light-300.woff2) format('woff2');*/
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'font-family-texte';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/figtree-regular.woff2) format('woff2');
    /*src: url(fonts/lato-regular-400.woff2) format('woff2');*/
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'font-family-texte-gras';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/figtree-regular.woff2) format('woff2');
    /*src: url(fonts/lato-bold-700.woff2) format('woff2');*/
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

:root {

    --font-systeme: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
    --font-family-texte-leger: 'font-family-texte-leger', var(--font-systeme);
    --font-family-texte: 'font-family-texte', var(--font-systeme);
    --font-family-texte-gras: 'font-family-texte-gras', var(--font-systeme);

    --couleur-primaire-clair: #D9B5A0;
    --couleur-primaire: #735340;
    --couleur-primaire-sombre: #402E28;

    --couleur-secondaire-clair: #C7DCE4;
    --couleur-secondaire: #6A7329;
    --couleur-secondaire-sombre: #3C401C;

    --couleur-accent-clair: #D96C5B;
    --couleur-accent: #D23219;
    --couleur-accent-sombre: #571208;
    --couleur-accent-transparent: #D2321940;

    --couleur-neutre-clair: #F7F6F4;
    --couleur-neutre: #162A41;
    --couleur-neutre-sombre: #09111B;
    --couleur-neutre-80: #435365;
    --couleur-neutre-60: #6F7B89;
    --couleur-neutre-40: #9CA4AD;
    --couleur-neutre-20: #C8CCD1;
    --couleur-neutre-transparent: #162A4120;

    --couleur-blanc: #ffffff;
    --couleur-fond: #EBEDF2;

    /* unite de marge/padding pour le design system, en pixel */
    --dsem: 8px;
    --dsem0_5: calc(var(--dsem) * 0.5);
    --dsem1_5: calc(var(--dsem) * 1.5);
    --dsem2: calc(var(--dsem) * 2);
    --dsem3: calc(var(--dsem) * 3);
    --dsem4: calc(var(--dsem) * 4);
    --dsem5: calc(var(--dsem) * 5);
    --dsem6: calc(var(--dsem) * 6);

    color: var(--couleur-neutre);
}
